.Cities {
   display: flex;
   flex-direction: row;
   margin-top: 1.5rem;
   justify-content: space-between;
   height: 100%;
}

.MenuItem {
   border-bottom: 1px solid rgb(228, 228, 228);
   border-top: 1px solid rgb(228, 228, 228);
   display: flex;
   width: 15rem;
   .closeButton {
      position: absolute;
      right: 0.5rem;
      top: 0.35rem;      
   }
}

.CityList {
   max-height: 80vh;
   overflow-x: hidden;
   scrollbar-width: thin;
}

.CityList::-webkit-scrollbar {
   width: 6px;
}

.CityList::-webkit-scrollbar-thumb {
   background-color: rgb(216, 216, 216);
   border-radius: 20px;
}
