.WeatherCard {
   display: flex;
   flex-direction: column;
   width: 20rem;
   height: 15rem;
   padding: 1rem;
   margin: 1.5rem 4vw;
   border-radius: 1rem;
   background-color: rgba(238, 237, 237, 0.22);
   border-color: rgba(238, 237, 237, 0.22);
   box-shadow: 5px 6px 6px 2px #e9ecef;
   font-family: sans-serif;   
   .CityName{
      margin: 0 auto;
      font-size: 140%;
   }

   .Main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 1rem;
      height: 70%;
      border-bottom: 1px solid #e0e0e0;
      .Temperature{
         font-size: 350%;
         margin: auto 0;
      }
      .Icon{
         object-fit: none;
      }
   }

   .Secondary {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .Parameter {
         display: block;
         text-align: center;
      }
   }
}
