@import '~antd/dist/antd.css';

.App {
   font-family: Arial, Helvetica, sans-serif;
   width: 60rem;
   max-width: 100%;
   margin: auto;
   margin-top: 1rem;
   display: flex;
   .Cities-Weather {
      flex-grow: 4;
   }
}
